<%inherit file="base.html" />
<%def name="Head()">
  <title>Amarok Remote</title>
  <script src="/static/home.js" type="text/javascript"></script>
  <script type="text/javascript">
    var refresh_timeout = null;
  </script>
</%def>

<%def name="Content()">
<body onload="Status('status')">
<table width="100%">
  <tr>
    <td><a href="javascript:Status('prev')"><img src="static/prev.png" alt="Previous"/></a></td>
    <td><a href="javascript:Status('playpause')">
       <img id="playbutton" src="static/pause.png" alt="PlayPause"/>
    </a></td>
    <td><a href="javascript:Status('next')"><img src="static/next.png" alt="Next"/></a></td>
  </tr>
</table>
<table border=0>
  <tr>
    <td valign=top><b>Title:</b></td>
    <td valign=top id="title"></td>
    <td valign=top rowspan=4><img src="" id="cover" height=80 width=80></td>
  </tr>
  <tr>
    <td valign=top><b>Album:</b></td>
    <td valign=top id="album"></td>
  </tr>
  <tr>
    <td valign=top><b>Artist:</b></td>
    <td valign=top id="artist"></td>
  </tr>
  <tr>
    <td valign=top><b>Volume:</b></td>
    <td valign=top>
      <a href="javascript:ChangeVolume(10)">
      <img src="static/plus.png" alt="up" id="volup">
      </a>
      &nbsp;&nbsp;<span id="volume"></span>&nbsp;&nbsp;
      <a href="javascript:ChangeVolume(-10)">
      <img src="static/minus.png" alt="down" id="voldown">
      </a>
    </td>
  </tr>
  <tr>
    <td valign=top><b>Search:</b></td>
    <td valign=top colspan=2>
      <form name="form" action="">
        <input type="text" size="30" name="query" onkeyup="Search()"/><br/>
        <span id="suggestions"></span>
      </form>
    </td>
  </tr>
</table>
</body>
</%def>
