<%inherit file="base.html" />
<%def name="Head()">
  <title>Amarok Remote</title>
  <script src="/static/home.js" type="text/javascript"></script>
</%def>

<%def name="Content()">
<table width="100%">
  <tr>
    <td><a href="javascript:Status('prev')"><img src="static/prev.png" alt="Previous"/></a></td>
    <td><a href="javascript:Status('playpause')">
      %if amarok.IsPlaying():
        <img id="playbutton" src="static/pause.png" alt="Pause"/>
      %else:
        <img id="playbutton" src="static/play.png" alt="Play"/>
      %endif
    </a></td>
    <td><a href="javascript:Status('next')"><img src="static/next.png" alt="Next"/></a></td>
  </tr>
</table>
<table border=0>
  <tr>
    <td><b>Title:</b></td>
    <td id="title">${track.title}</td>
  </tr>
  <tr>
    <td><b>Album:</b></td>
    <td id="album">${track.album}</td>
  </tr>
  <tr>
    <td><b>Artist:</b></td>
    <td id="artist">${track.artist}</td>
  </tr>
</table>
<center>
  <form name="search" action="">
    <input type="text" size="30" name="query" onkeyup="Search()"/>
    <br/>
    <span id="suggestions"></span>
  </form>
</center>
</%def>
